

/*My successful attempt usinf display:block; to style my contact
survey form */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    color: white;
    font-size: 20px;
    background-color: #111e36;
}

form {
    background-color: rgba(60, 61, 60, 0.5);
    border-radius: 0.4rem;
    margin: 2em auto;
    padding: 40px;
    max-width: 700px;
    min-height: 600px;
}

h1, h2{
    text-align: center;
    color: white;
}

label {
    color: white;
    padding: 10px;
    display: block;
    margin: 0em auto;
}

#name, #email, #number {
    min-width: 100%;
    min-height: 40px;
    padding: 10px;
    border-radius: 0.2em;
    border: none;
    margin-top: 10px;
    font-size: 16px;
}

#dropdown-title {
    margin: 20px 0px;
}

#dropdown {
    display: block;
    padding: 10px;
    font-size: 16px;
    border-radius: 0.2em;
    border: none;
    min-width: 100%;
    min-height: 40px;
    color: grey;
    margin-top: 10px;
}

#radio-title {
    margin-top: 30px;
}

input[type='radio'] {
    display: inline-block;
}

#checkbox-title {
    margin-top: 10px;
}

#textarea-title {
    margin-top: 40px;
}

textarea {
    display: block;
    min-width: 100%;
    min-height: 100px;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0.2em;
}

#submit {
    display: block;
    min-width: 100%;
    min-height: 50px;
    font-size: 18px;
    color: white;
    background-color: #42c75a;
    border: none;
    border-radius: 0.2em;
    margin: 0em auto;

}








/* My attempt at using Flexbox to style a survey form
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    border: none;
    border-radius: 0.2em;
    
}

body {
    background-color: #383836;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: white;
    text-align: center;
    margin: 10px;
}


Flex Wrapper
 #wrapper {
    display: flex;
    background-color: darkgrey;
    max-width: 700px;
    height: 100vh;
    justify-content: center;
    align-items: center;
 }

/* Form ID Selector
 #survey-form {
    flex: 1;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 0.2em;
 }  */
 
 

 
    
